.pokemon-card{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 7px solid #efbc1b;
    transform: translate(2.5%, 3%);
    background-color: #fff;
}
.pokemon-card-container{
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background-color: #202020;
}